{% extends "base.html" %}

{% block title %}История заказов{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-8">
        <div class="card shadow-sm mb-5 rounded">
            <div class="card-header"><strong>История заказов</strong></div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">№ заказа</th>
                            <th scope="col">Стоимость</th>
                            <th scope="col">Адрес доставки</th>
                            <th scope="col">Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.order_id }}</td>
                            <td>{{ order.order_cost }} руб.</td>
                            <td>{{ order.delivery_address }}</td>
                            <td>Оформлён</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}